.hero{
    width:70%;
    height: 100%;
    padding-top: 105px;
}

.home-intro{
    background-color: #252525;
}

.home-info{
    color: #fff;
    position: absolute;
    left: 65%;
    margin-left: -65px;
    top: 50%;
    margin-top: -90px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.home-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #AF0404;
}

