
.action-btn{
    height: 50px;
    width: 200px;
    border: 1px solid #fff;
    background-color:#252525;
    position: absolute;
    left: 65%;
    margin-left: -65px;
    top: 90%;
    margin-top: -90px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  .home-btn{
    font-size: 20px;
    color: #E7ECEF;
    text-transform: uppercase;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.40em;
    margin-block-end: 0.40em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
  }

  .action-btn:hover{
    text-decoration: none;
  }

  .home-btn:hover{
    color: #AF0404;
    text-decoration: none;
  }
